{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container text-center mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8">
            <div class="bg-color text-white rounded-3 p-5">
                <h2 class="display-4 mb-3">Welcome to the Student Management System</h2>
                <p class="lead">Select a setup/form from the left to view its fields.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
