{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
    <h1>Reset Password</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form method="POST" action="{{ url_for('reset_password', user_id=user.id) }}">
        <label for="password">New Password:</label>
        <input type="password" name="password" id="password" required>
        <button type="submit">Reset Password</button>
    </form>

    {% endblock %}