{% extends "base.html" %}

{% block title %}View Teacher Links{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4 d-flex justify-content-center text-custom-color">Student Course Links</h2>

    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Student</th>
                    <th>Course</th>
                    <th>Subcourse</th>
                    <th>Date Assigned</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for link in student_courses %}
                <tr>
                    <td>{{ link.student.name }} - {{ link.student.father_name }} - {{ link.student.cnic }} - {{ link.student.mobile_number }}</td>
                    <td>{{ link.course.name }}</td>
                    <td>{{ link.subcourse.name }}</td>
                    <td>{{ link.date_assigned }}</td>
                    <td>
                        <button type="button" class="btn rounded-pill bg-color btn-sm button-bg">Edit</button>
                        <button type="button" class="btn rounded-pill bg-color btn-sm button-bg-red">Delete</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
